.heading{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}
.logo{
    font-size: 24px;
    color:#F9FAF8
}
.link{
    font-size: 18px;
    color: #E5E7EB;
    justify-content: space-between;
    display: flex;   
}
.link a{
    margin-left: 20px;
}
.maintext p{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}
.button{
    background-color:#3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px 15px;
}
.partthree{
    background-color: #E5E7EB;
    justify-content: center;
    margin-top: 40px;
    display: flex;
    margin-left:auto;
    margin-right: auto;
    width: 80%;

}
.partthree p{
    font-size: 36px;
    color:#1F2937;
    margin: 0;
    font-style:italic;
    display: flex;
    display: inline-block;
    overflow-wrap: break-word;
}
.parts{
    margin:0 20%;
    padding:30px 0;
}
.partone{
    padding-top: 50px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 50px;
}
.description{
    display: inline-block;
    overflow-wrap: break-word;
}

.para p{
    color: #f9faf8;
    display: inline-block;
    overflow-wrap: break-word;

}
.placeholder{
    color: #f9faf8;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 40px;
}
.firstheader{
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5px;
    padding-bottom: 30px;
}
.links{
    color: #F9FAF8;
}
.secondheader{
    display: flex;
    justify-content: space-between;
}
.random{
    margin-top: 30px;
    font-weight: bold;
    justify-content: center;
    font-size: 24px;
    display: flex;

}
.circle{
    width:80px;
    height:80px;
    border: 2px solid rgb(115, 178, 214);
    border-radius: 10px;
    margin: auto;
    
}
.allimages{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image{
    width:120px;
}
.image p{
    margin:0;
    text-align: center;
}
.thior{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

}

.partfour{
    display: flex;
    justify-content: center;
    background-color:#3882f6;
    margin: 0;
    margin-top: 40px;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
}
.call{
    font-weight: bold;
    color: white;
}
.sign{
    color: white;  

}
.up{
    background-color: #3882f6;
    color: #f9faf8;
    border-color: white;
    border-radius: 5px;
    padding: 5px 15px;
   
}

.everything{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 30px;
    margin: auto;
}

.partfive{
    background-color:#1F2937;
    width: 80%;
    /* padding: 30px; */
    margin: auto;
    margin-top: 40px;
    /* margin-bottom: 30px; */
}
.copy{
    justify-content: center;
    display: flex;
    color: #F9FAF8;
    padding-top: 30px;
    padding-bottom: 30px;
}
.lastpart{
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    display: flex;
}